 <head>
	 <script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
	      tex2jax: {
	        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
	        inlineMath: [['$','$']]
	      }
	    });
	  </script>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	<style type="text/css">
	.flip 
	{
	  -moz-transform:rotate(-180deg); /* Firefox */
	  -webkit-transform:rotate(-180deg); /* Webkit */        
	  -ms-transform:rotate(-180deg); /* IE */
	  -o-transform:rotate(-180deg); /* Opera */
	  transform:rotate(-180deg); /* future */
	  position:absolute;
	}    
	</style>
</head>